# Nigeria COVID-19 Data Prep Tool

### 1. Import Python module

In [10]:
# import modules
import datetime
from datetime import date

import numpy as np
import pandas as pd

import geopandas as gpd
from geopandas import GeoDataFrame as gdf

import fiona
import json

### 2. Prep States SHP data

In [11]:
# read states shapefile data
states_shp_df = gpd.read_file("../data/shp/ncdc-covid19-states.shp")

# calculate number of ACTIVE cases
states_shp_df['ACTIVE'] = states_shp_df['CASES'] - (states_shp_df['RECOVERED'] + states_shp_df['DEATHS'])

# reorder columns
states_shp_df = states_shp_df[["OBJECTID", "CODE", "STATE", "ADMIN_NAME", "GEO_ZONE", "AREA_SQKM", "POP_2016", "CENTER_Y", "CENTER_X", "CASES", "DEATHS", "RECOVERED", "SCREENED", "ACTIVE", "geometry"]] 

# export to shp
states_shp_df.to_file("../data/shp/ncdc-covid19-states.shp")

# export to geojson
states_shp_df.to_file("../data/geojson/ncdc-covid19-states.geojson", driver='GeoJSON')

# export to csv
states_shp_df.rename(columns={'CENTER_Y':'LAT', 'CENTER_X':'LONG'}, inplace=True)
states_shp_df.drop('geometry',axis=1).to_csv("../data/csv/ncdc-covid19-states.csv") 

# export to json
states_shp_df = pd.read_csv("../data/csv/ncdc-covid19-states.csv", index_col=0)
states_shp_df.to_json("../data/json/ncdc-covid19-states.json", orient='records')

# view data
states_shp_df.head()

,OBJECTID,CODE,STATE,ADMIN_NAME,GEO_ZONE,AREA_SQKM,POP_2016,LAT,LONG,CASES,DEATHS,RECOVERED,SCREENED,ACTIVE
0,1,NG001,Abia,Abia State,South East,4858.882335,3644714,5.453302,7.523190,2,0,1,0,1
1,2,NG002,Adamawa,Adamawa State,North East,37924.987860,4145684,9.323227,12.400241,15,0,0,2,15
2,3,NG003,Akwa Ibom,Akwa Ibom State,South South,6723.202769,5353609,4.907245,7.846395,17,2,10,1,5
3,4,NG004,Anambra,Anambra State,South East,4807.933352,5425334,6.222776,6.932186,1,0,1,0,0
4,5,NG005,Bauchi,Bauchi State,North East,48496.400510,6386388,10.796647,9.990588,117,1,6,27,110

### 3. Prep DAILYUPDATES csv data

In [12]:
# load dailyupdates csv data
df = pd.read_csv("../data/csv/ncdc-covid19-dailyupdates.csv")

# convert the 'Date' column to datetime format 
# df = df.reset_index()
# df['DATE']= pd.to_datetime(df['DATE'])

# export to json
df.to_json("../data/json/ncdc-covid19-dailyupdates.json", orient='records', date_format = 'iso')

# export to shapefile
df_shp = gdf(df, geometry=gpd.points_from_xy(df.RECOVERED, df.RECOVERED))
df_shp.to_file("./tmp/ncdc-covid19-dailyupdates.shp")

# view data
df_shp.tail()

,DATE,TOTAL CONFIRMED,NEW CASES,ACTIVE CASES,DEATHS,RECOVERED,geometry
67,5/4/2020,2802,245,2292,93,417,POINT (417.000 417.000)
68,5/5/2020,2950,148,2371,98,481,POINT (481.000 481.000)
69,5/6/2020,3145,195,2508,103,534,POINT (534.000 534.000)
70,5/7/2020,3526,381,2818,107,601,POINT (601.000 601.000)
71,5/8/2020,3912,386,3116,117,679,POINT (679.000 679.000)

### 4. Prep States Daily CASES csv data

In [9]:
# update daily cases from shapefile
df = pd.read_csv("../data/csv/ncdc-covid19-states-daily-cases.csv", index_col=0)
states_shp_df = gpd.read_file("../data/shp/ncdc-covid19-states.shp")

# todays date
today_date = date.today().strftime("%m/%d/%Y")

# delete new_row if exists
if str(today_date) in df.index:
    df.drop(str(today_date))
    
# create array of all new cases
values = []
for index, row in states_shp_df.iterrows():
    values.append(row['CASES'])

# add new row to df
df.loc[str(today_date)] = values

# convert the 'Date' column to datetime format 
df = df.reset_index()
df['Date']= pd.to_datetime(df['Date']) 

# export to csv
df.to_csv('../data/csv/ncdc-covid19-states-daily-cases.csv')

# view data
df.tail()

,Date,Abia,Adamawa,Akwa Ibom,Anambra,Bauchi,Bayelsa,Benue,Borno,Cross River,...,Ogun,Ondo,Osun,Oyo,Plateau,Rivers,Sokoto,Taraba,Yobe,Zamfara
67,2020-05-04,2,12,16,1,80,5,2,100,0,...,85,13,37,39,3,14,66,8,13,13
68,2020-05-05,2,14,16,1,83,5,2,106,0,...,91,13,37,44,4,14,67,15,13,27
69,2020-05-06,2,15,16,1,83,5,2,116,0,...,95,13,37,52,4,14,85,15,13,46
70,2020-05-07,2,15,17,1,102,5,2,125,0,...,100,13,37,55,5,17,89,15,13,65
71,2020-05-08,2,15,17,1,117,5,2,142,0,...,113,15,38,59,15,21,93,15,13,65

### 5. Prep States Daily RECOVERED csv data

In [13]:
# update daily cases from shapefile
df = pd.read_csv("../data/csv/ncdc-covid19-states-daily-recovered.csv", index_col=0)
states_shp_df = gpd.read_file("../data/shp/ncdc-covid19-states.shp")

# todays date
today_date = date.today().strftime("%m/%d/%Y")

# delete new_row if exists
if str(today_date) in df.index:
    df.drop(str(today_date))

# create array of all new cases
values = []
for index, row in states_shp_df.iterrows():
    values.append(row['RECOVERED'])

# add new row to df
df.loc[str(today_date)] = values

# export to csv
df.to_csv('../data/csv/ncdc-covid19-states-daily-recovered.csv')

# view data
df.tail()

,Abia,Adamawa,Akwa Ibom,Anambra,Bauchi,Bayelsa,Benue,Borno,Cross River,Delta,...,Ogun,Ondo,Osun,Oyo,Plateau,Rivers,Sokoto,Taraba,Yobe,Zamfara
Date,,,,,,,,,,,,,,,,,,,,,
5/4/2020,1,0,10,1,6,0,0,0,0,2,...,12,3,30,9,0,2,1,0,0,0
5/5/2020,1,0,10,1,6,0,0,0,0,2,...,12,3,30,9,0,2,1,0,0,0
5/6/2020,1,0,10,1,6,0,0,0,0,2,...,18,6,30,11,0,2,1,0,0,0
5/7/2020,1,0,10,1,6,0,0,0,0,2,...,18,6,30,11,1,2,1,0,0,0
05/08/2020,1,0,10,1,6,0,0,0,0,3,...,28,6,30,14,1,4,4,0,0,0

### 6. Prep States Daily DEATHS csv data

In [14]:
# update daily cases from shapefile
df = pd.read_csv("../data/csv/ncdc-covid19-states-daily-deaths.csv", index_col=0)
states_shp_df = gpd.read_file("../data/shp/ncdc-covid19-states.shp")

# todays date
today_date = date.today().strftime("%m/%d/%Y")

# delete new_row if exists
if str(today_date) in df.index:
    df.drop(str(today_date))

# create array of all new cases
values = []
for index, row in states_shp_df.iterrows():
    values.append(row['DEATHS'])

# add new row to df
df.loc[str(today_date)] = values

# export to csv
df.to_csv('../data/csv/ncdc-covid19-states-daily-deaths.csv')

# view data
df.tail()

,Abia,Adamawa,Akwa Ibom,Anambra,Bauchi,Bayelsa,Benue,Borno,Cross River,Delta,...,Ogun,Ondo,Osun,Oyo,Plateau,Rivers,Sokoto,Taraba,Yobe,Zamfara
Date,,,,,,,,,,,,,,,,,,,,,
5/4/2020,0,0,2,0,0,0,0,14,0,2,...,2,0,4,2,0,2,8,0,1,1
5/5/2020,0,0,2,0,0,0,0,14,0,2,...,2,0,4,2,0,2,8,0,1,1
5/6/2020,0,0,2,0,0,0,0,14,0,3,...,2,0,4,2,0,2,8,0,1,2
5/7/2020,0,0,2,0,0,0,0,14,0,3,...,2,0,4,2,0,2,8,0,1,3
05/08/2020,0,0,2,0,1,0,0,14,0,3,...,4,0,4,2,0,2,9,0,1,3