# Nigeria COVID-19 Data Prep Tool

### 1. Import Python module

In [38]:
# import modules
import datetime
from datetime import date

import numpy as np
import pandas as pd

import geopandas as gpd
from geopandas import GeoDataFrame as gdf

import fiona
import json

### 2. Prep States SHP data

In [39]:
# read states shapefile data
states_shp_df = gpd.read_file("../data/shp/ncdc-covid19-states.shp")

# calculate number of ACTIVE cases
states_shp_df['ACTIVE'] = states_shp_df['CASES'] - (states_shp_df['RECOVERED'] + states_shp_df['DEATHS'])

# reorder columns
states_shp_df = states_shp_df[["OBJECTID", "CODE", "STATE", "ADMIN_NAME", "GEO_ZONE", "AREA_SQKM", "POP_2016", "CENTER_Y", "CENTER_X", "CASES", "DEATHS", "RECOVERED", "SCREENED", "ACTIVE", "geometry"]] 

# export to shp
states_shp_df.to_file("../data/shp/ncdc-covid19-states.shp")

# export to geojson
states_shp_df.to_file("../data/geojson/ncdc-covid19-states.geojson", driver='GeoJSON')

# export to csv
states_shp_df.rename(columns={'CENTER_Y':'LAT', 'CENTER_X':'LONG'}, inplace=True)
states_shp_df.drop('geometry',axis=1).to_csv("../data/csv/ncdc-covid19-states.csv") 

# export to json
states_shp_df = pd.read_csv("../data/csv/ncdc-covid19-states.csv", index_col=0)
states_shp_df.to_json("../data/json/ncdc-covid19-states.json", orient='records')

# view data
states_shp_df.head()

,OBJECTID,CODE,STATE,ADMIN_NAME,GEO_ZONE,AREA_SQKM,POP_2016,LAT,LONG,CASES,DEATHS,RECOVERED,SCREENED,ACTIVE
0,1,NG001,Abia,Abia State,South East,4858.882335,3644714,5.453302,7.523190,2,0,0,0,2
1,2,NG002,Adamawa,Adamawa State,North East,37924.987860,4145684,9.323227,12.400241,4,0,0,2,4
2,3,NG003,Akwa Ibom,Akwa Ibom State,South South,6723.202769,5353609,4.907245,7.846395,16,2,10,1,4
3,4,NG004,Anambra,Anambra State,South East,4807.933352,5425334,6.222776,6.932186,1,0,1,0,0
4,5,NG005,Bauchi,Bauchi State,North East,48496.400510,6386388,10.796647,9.990588,53,0,6,27,47

### 3. Prep DAILYUPDATES csv data

In [35]:
# load dailyupdates csv data
df = pd.read_csv("../data/csv/ncdc-covid19-dailyupdates.csv")

# convert the 'Date' column to datetime format 
# df = df.reset_index()
# df['DATE']= pd.to_datetime(df['DATE'])

# export to json
df.to_json("../data/json/ncdc-covid19-dailyupdates.json", orient='records', date_format = 'iso')

# export to shapefile
df_shp = gdf(df, geometry=gpd.points_from_xy(df.RECOVERED, df.RECOVERED))
df_shp.to_file("./tmp/ncdc-covid19-dailyupdates.shp")

# view data
df_shp.tail()

,DATE,TOTAL CONFIRMED,NEW CASES,ACTIVE CASES,DEATHS,RECOVERED,geometry
60,4/27/2020,1337,64,1042,40,255,POINT (255.000 255.000)
61,4/28/2020,1532,195,1233,44,255,POINT (255.000 255.000)
62,4/29/2020,1728,196,1370,51,307,POINT (307.000 307.000)
63,4/30/2020,1932,204,1555,58,319,POINT (319.000 319.000)
64,5/1/2020,2170,238,1751,68,351,POINT (351.000 351.000)

### 4. Prep States Daily CASES csv data

In [40]:
# update daily cases from shapefile
df = pd.read_csv("../data/csv/ncdc-covid19-states-daily-cases.csv", index_col=0)
states_shp_df = gpd.read_file("../data/shp/ncdc-covid19-states.shp")

# todays date
today_date = date.today().strftime("%m/%d/%Y")

# delete new_row if exists
if str(today_date) in df.index:
    df.drop(str(today_date))
    
# create array of all new cases
values = []
for index, row in states_shp_df.iterrows():
    values.append(row['CASES'])

# add new row to df
df.loc[str(today_date)] = values

# convert the 'Date' column to datetime format 
df = df.reset_index()
df['Date']= pd.to_datetime(df['Date']) 

# export to csv
df.to_csv('./tmp/ncdc-covid19-states-daily-cases.csv')

# view data
df.tail()

,Date,Abia,Adamawa,Akwa Ibom,Anambra,Bauchi,Bayelsa,Benue,Borno,Cross River,...,Ogun,Ondo,Osun,Oyo,Plateau,Rivers,Sokoto,Taraba,Yobe,Zamfara
61,2020-04-28,2,1,12,1,29,1,1,53,0,...,50,8,34,21,1,7,19,8,0,4
62,2020-04-29,2,2,12,1,29,1,1,59,0,...,50,8,34,21,1,7,27,8,1,4
63,2020-04-30,2,2,16,1,38,5,1,66,0,...,56,9,34,23,1,13,36,8,1,4
64,2020-05-01,2,4,16,1,48,5,1,69,0,...,56,13,34,29,1,14,41,8,4,9
65,2020-05-02,2,4,16,1,53,5,1,75,0,...,56,13,36,33,3,14,54,8,13,12

### 5. Prep States Daily RECOVERED csv data

In [41]:
# update daily cases from shapefile
df = pd.read_csv("../data/csv/ncdc-covid19-states-daily-recovered.csv", index_col=0)
states_shp_df = gpd.read_file("../data/shp/ncdc-covid19-states.shp")

# todays date
today_date = date.today().strftime("%m/%d/%Y")

# delete new_row if exists
if str(today_date) in df.index:
    df.drop(str(today_date))

# create array of all new cases
values = []
for index, row in states_shp_df.iterrows():
    values.append(row['RECOVERED'])

# add new row to df
df.loc[str(today_date)] = values

# export to csv
df.to_csv('./tmp/ncdc-covid19-states-daily-recovered.csv')

# view data
df.tail()

,Abia,Adamawa,Akwa Ibom,Anambra,Bauchi,Bayelsa,Benue,Borno,Cross River,Delta,...,Ogun,Ondo,Osun,Oyo,Plateau,Rivers,Sokoto,Taraba,Yobe,Zamfara
Date,,,,,,,,,,,,,,,,,,,,,
4/28/2020,0,0,9,1,6,0,0,0,0,0,...,5,2,18,9,0,2,0,0,0,0
4/29/2020,0,0,9,1,6,0,0,0,0,0,...,6,3,18,9,0,2,0,0,0,0
4/30/2020,0,0,10,1,6,0,0,0,0,4,...,8,3,18,9,0,2,1,0,0,0
5/1/2020,0,0,10,1,6,0,0,0,0,4,...,8,3,18,9,0,2,1,0,0,0
05/02/2020,0,0,10,1,6,0,0,0,0,4,...,9,3,22,9,0,2,1,0,0,0

### 6. Prep States Daily DEATHS csv data

In [42]:
# update daily cases from shapefile
df = pd.read_csv("../data/csv/ncdc-covid19-states-daily-deaths.csv", index_col=0)
states_shp_df = gpd.read_file("../data/shp/ncdc-covid19-states.shp")

# todays date
today_date = date.today().strftime("%m/%d/%Y")

# delete new_row if exists
if str(today_date) in df.index:
    df.drop(str(today_date))

# create array of all new cases
values = []
for index, row in states_shp_df.iterrows():
    values.append(row['DEATHS'])

# add new row to df
df.loc[str(today_date)] = values

# export to csv
df.to_csv('./tmp/ncdc-covid19-states-daily-deaths.csv')

# view data
df.tail()

,Abia,Adamawa,Akwa Ibom,Anambra,Bauchi,Bayelsa,Benue,Borno,Cross River,Delta,...,Ogun,Ondo,Osun,Oyo,Plateau,Rivers,Sokoto,Taraba,Yobe,Zamfara
Date,,,,,,,,,,,,,,,,,,,,,
4/28/2020,0,0,1,0,0,0,0,2,0,2,...,1,0,2,2,0,2,3,0,0,0
4/29/2020,0,0,1,0,0,0,0,5,0,2,...,1,0,2,2,0,2,3,0,0,0
4/30/2020,0,0,2,0,0,0,0,6,0,2,...,1,0,3,2,0,2,4,0,0,1
5/1/2020,0,0,2,0,0,0,0,6,0,2,...,1,0,3,2,0,2,7,0,0,1
05/02/2020,0,0,2,0,0,0,0,11,0,2,...,2,0,3,2,0,2,8,0,1,1