# Nigeria COVID-19 Data Prep Tool

### 0. Import Python module

In [1]:
# import modules
import datetime
from datetime import date

import numpy as np
import pandas as pd

import geopandas as gpd
from geopandas import GeoDataFrame as gdf

import fiona
import json

import lxml
import requests
from datetime import date
from bs4 import BeautifulSoup

### 1. Scrape data from website

In [2]:
# make request to website for data
res = requests.get('https://covid19.ncdc.gov.ng/')
status_code = res.status_code
text = res.text

if status_code == 200:
    soup = BeautifulSoup(text, 'lxml')
    table_html = soup.find_all('table', {'id':'custom1'})
    table_df = pd.read_html(str(table_html))[0]
    table_df = table_df.rename(columns={'States Affected': 'STATE', 'No. of Cases (Lab Confirmed)': 'CASES', 'No. of Cases (on admission)': 'HOSPITALISED', 'No. Discharged': 'RECOVERED', 'No. of Deaths': 'DEATHS'})
    
    # export table2 to csv
    # file_name = "ncdc_covid_"+ str(date.today()) +".csv"
    # table_df.to_csv(file_name, index=False, encoding='utf-8')
    # print(table_df)
else:
    print("Unable to fetch data from URL.")

In [3]:
# read states shapefile data
states_shp_df = gpd.read_file("../data/shp/ncdc-covid19-states.shp")

# select columns
states_shp_df = states_shp_df[["OBJECTID", "CODE", "STATE", "ADMIN_NAME", "GEO_ZONE", "AREA_SQKM", "POP_2016", "CENTER_Y", "CENTER_X",  "SCREENED", "ACTIVE", "geometry"]]

# merge dataframes
df = pd.merge(states_shp_df, table_df, on='STATE', how='outer')

# remove NAN
df['CASES'] = df['CASES'].replace(np.nan, 0)
df['HOSPITALISED'] = df['HOSPITALISED'].replace(np.nan, 0)
df['RECOVERED'] = df['RECOVERED'].replace(np.nan, 0)
df['DEATHS'] = df['DEATHS'].replace(np.nan, 0)

# change columns data type
df = df.astype({"CASES": int, "HOSPITALISED": int, "RECOVERED": int, "DEATHS": int})

# reorder columns
df = df[["OBJECTID", "CODE", "STATE", "ADMIN_NAME", "GEO_ZONE", "AREA_SQKM", "POP_2016", "CENTER_Y", "CENTER_X", "CASES", "HOSPITALISED", "RECOVERED", "DEATHS", "SCREENED", "ACTIVE", "geometry"]]

# convert dataframe to geodataframe
gdf = gpd.GeoDataFrame(df, geometry='geometry')

# set projection
gdf.crs = "EPSG:4326"

# export to shp
gdf.to_file("../data/shp/ncdc-covid19-states.shp")

# view data
gdf.head()

,OBJECTID,CODE,STATE,ADMIN_NAME,GEO_ZONE,AREA_SQKM,POP_2016,CENTER_Y,CENTER_X,CASES,HOSPITALISED,RECOVERED,DEATHS,SCREENED,ACTIVE,geometry
0,1,NG001,Abia,Abia State,South East,4858.882335,3644714,5.453302,7.523190,2,1,1,0,0,1,"POLYGON ((7.38681 6.03667, 7.38729 6.03605, 7...."
1,2,NG002,Adamawa,Adamawa State,North East,37924.987860,4145684,9.323227,12.400241,21,17,4,0,2,17,"POLYGON ((13.61319 10.94940, 13.62129 10.94823..."
2,3,NG003,Akwa Ibom,Akwa Ibom State,South South,6723.202769,5353609,4.907245,7.846395,17,3,12,2,1,5,"POLYGON ((7.71063 5.51935, 7.71123 5.51647, 7...."
3,4,NG004,Anambra,Anambra State,South East,4807.933352,5425334,6.222776,6.932186,2,1,1,0,0,0,"POLYGON ((6.93254 6.71090, 6.93167 6.69870, 6...."
4,5,NG005,Bauchi,Bauchi State,North East,48496.400510,6386388,10.796647,9.990588,206,178,25,3,27,164,"POLYGON ((10.70550 12.47328, 10.73164 12.46543..."

### 2. Prep States SHP data

In [4]:
# read states shapefile data
states_shp_df = gpd.read_file("../data/shp/ncdc-covid19-states.shp")

# calculate number of ACTIVE cases
states_shp_df['ACTIVE'] = states_shp_df['CASES'] - (states_shp_df['RECOVERED'] + states_shp_df['DEATHS'])

# reorder columns
states_shp_df = states_shp_df[["OBJECTID", "CODE", "STATE", "ADMIN_NAME", "GEO_ZONE", "AREA_SQKM", "POP_2016", "CENTER_Y", "CENTER_X", "CASES", "DEATHS", "RECOVERED", "ACTIVE", "SCREENED", "geometry"]] 

# export to shp
states_shp_df.to_file("../data/shp/ncdc-covid19-states.shp")

# export to geojson
states_shp_df.to_file("../data/geojson/ncdc-covid19-states.geojson", driver='GeoJSON')

# export to csv
states_shp_df.rename(columns={'CENTER_Y':'LAT', 'CENTER_X':'LONG'}, inplace=True)
states_shp_df.drop('geometry',axis=1).to_csv("../data/csv/ncdc-covid19-states.csv") 

# export to json
states_shp_df = pd.read_csv("../data/csv/ncdc-covid19-states.csv", index_col=0)
states_shp_df.to_json("../data/json/ncdc-covid19-states.json", orient='records')

# view data
states_shp_df.head()

,OBJECTID,CODE,STATE,ADMIN_NAME,GEO_ZONE,AREA_SQKM,POP_2016,LAT,LONG,CASES,DEATHS,RECOVERED,ACTIVE,SCREENED
0,1,NG001,Abia,Abia State,South East,4858.882335,3644714,5.453302,7.523190,2,0,1,1,0
1,2,NG002,Adamawa,Adamawa State,North East,37924.987860,4145684,9.323227,12.400241,21,0,4,17,2
2,3,NG003,Akwa Ibom,Akwa Ibom State,South South,6723.202769,5353609,4.907245,7.846395,17,2,12,3,1
3,4,NG004,Anambra,Anambra State,South East,4807.933352,5425334,6.222776,6.932186,2,0,1,1,0
4,5,NG005,Bauchi,Bauchi State,North East,48496.400510,6386388,10.796647,9.990588,206,3,25,178,27

### 3. Prep DAILYUPDATES csv data

In [5]:
# load dailyupdates csv data
df = pd.read_csv("../data/csv/ncdc-covid19-dailyupdates.csv")

# read states shapefile data
states_shp_df = gpd.read_file("../data/shp/ncdc-covid19-states.shp")

values = []

# todays date
today_date = date.today().strftime("%m/%d/%Y")
values.append(str(today_date))

# delete new_row if exists
if str(today_date) in df.index:
    df.drop(str(today_date))

# values
prev_cases = int(df[-1:]['TOTAL CONFIRMED'])

total_cases = sum(states_shp_df['CASES'])
values.append(total_cases)

new_cases = total_cases - prev_cases
values.append(new_cases)

total_active = sum(states_shp_df['ACTIVE'])
values.append(total_active)

total_deaths = sum(states_shp_df['DEATHS'])
values.append(total_deaths)

total_recovered = sum(states_shp_df['RECOVERED'])
values.append(total_recovered)

# add new row to df
df.loc[len(df)] = values

# export to csv
df.to_csv('../data/csv/ncdc-covid19-dailyupdates.csv')

# view data
df.tail()

          DATE  TOTAL CONFIRMED  NEW CASES  ACTIVE CASES  DEATHS  RECOVERED
72    5/9/2020             4151        239          3278     128        745
73   5/10/2020             4399        248          3478     143        778
74   5/11/2020             4641        242          3589     150        902
75   5/12/2020             4787        146          3670     158        959
76  05/13/2020             4971        184          3737     164       1070

### 4. Prep States Daily CASES csv data

In [6]:
# update daily cases from shapefile
df = pd.read_csv("../data/csv/ncdc-covid19-states-daily-cases.csv", index_col=0)
states_shp_df = gpd.read_file("../data/shp/ncdc-covid19-states.shp")

# todays date
today_date = date.today().strftime("%m/%d/%Y")

# delete new_row if exists
if str(today_date) in df.index:
    df.drop(str(today_date))
    
# create array of all new cases
values = []
for index, row in states_shp_df.iterrows():
    values.append(row['CASES'])

# add new row to df
df.loc[str(today_date)] = values

# convert the 'Date' column to datetime format 
df = df.reset_index()
df['Date']= pd.to_datetime(df['Date']) 

# export to csv
df.to_csv('../data/csv/ncdc-covid19-states-daily-cases.csv')

# view data
df.tail()

,Date,Abia,Adamawa,Akwa Ibom,Anambra,Bauchi,Bayelsa,Benue,Borno,Cross River,...,Ogun,Ondo,Osun,Oyo,Plateau,Rivers,Sokoto,Taraba,Yobe,Zamfara
72,2020-05-09,2,17,17,1,161,5,2,159,0,...,115,15,38,64,17,21,96,15,13,65
73,2020-05-10,2,17,17,1,181,6,2,185,0,...,117,15,39,64,19,21,106,15,13,72
74,2020-05-11,2,21,17,1,182,6,2,186,0,...,126,16,39,65,19,22,106,15,13,73
75,2020-05-12,2,21,17,1,190,6,4,188,0,...,127,16,39,69,21,23,108,15,20,73
76,2020-05-13,2,21,17,2,206,6,4,188,0,...,127,18,42,73,20,33,112,17,20,73

### 5. Prep States Daily RECOVERED csv data

In [7]:
# update daily cases from shapefile
df = pd.read_csv("../data/csv/ncdc-covid19-states-daily-recovered.csv", index_col=0)
states_shp_df = gpd.read_file("../data/shp/ncdc-covid19-states.shp")

# todays date
today_date = date.today().strftime("%m/%d/%Y")

# delete new_row if exists
if str(today_date) in df.index:
    df.drop(str(today_date))

# create array of all new cases
values = []
for index, row in states_shp_df.iterrows():
    values.append(row['RECOVERED'])

# add new row to df
df.loc[str(today_date)] = values

# export to csv
df.to_csv('../data/csv/ncdc-covid19-states-daily-recovered.csv')

# view data
df.tail()

,Abia,Adamawa,Akwa Ibom,Anambra,Bauchi,Bayelsa,Benue,Borno,Cross River,Delta,...,Ogun,Ondo,Osun,Oyo,Plateau,Rivers,Sokoto,Taraba,Yobe,Zamfara
Date,,,,,,,,,,,,,,,,,,,,,
05/09/2020,1,0,10,1,6,0,0,0,0,3,...,28,6,30,14,1,4,10,0,0,0
05/10/2020,1,0,10,1,6,0,0,12,0,3,...,28,6,30,15,1,4,13,1,0,0
05/11/2020,1,4,10,1,7,0,0,12,0,3,...,39,11,30,15,1,4,19,1,0,1
05/12/2020,1,4,10,1,23,3,0,12,0,3,...,46,11,30,16,1,4,22,1,0,1
05/13/2020,1,4,12,1,25,3,0,20,0,6,...,46,11,30,16,4,5,40,1,0,1

### 6. Prep States Daily DEATHS csv data

In [8]:
# update daily cases from shapefile
df = pd.read_csv("../data/csv/ncdc-covid19-states-daily-deaths.csv", index_col=0)
states_shp_df = gpd.read_file("../data/shp/ncdc-covid19-states.shp")

# todays date
today_date = date.today().strftime("%m/%d/%Y")

# delete new_row if exists
if str(today_date) in df.index:
    df.drop(str(today_date))

# create array of all new cases
values = []
for index, row in states_shp_df.iterrows():
    values.append(row['DEATHS'])

# add new row to df
df.loc[str(today_date)] = values

# export to csv
df.to_csv('../data/csv/ncdc-covid19-states-daily-deaths.csv')

# view data
df.tail()

,Abia,Adamawa,Akwa Ibom,Anambra,Bauchi,Bayelsa,Benue,Borno,Cross River,Delta,...,Ogun,Ondo,Osun,Oyo,Plateau,Rivers,Sokoto,Taraba,Yobe,Zamfara
Date,,,,,,,,,,,,,,,,,,,,,
05/09/2020,0,0,2,0,1,0,0,15,0,3,...,4,0,4,2,0,2,9,0,1,3
05/10/2020,0,0,2,0,1,0,0,16,0,3,...,5,0,4,2,0,2,12,0,1,3
05/11/2020,0,0,2,0,1,0,0,16,0,3,...,5,1,4,2,0,3,12,0,1,5
05/12/2020,0,0,2,0,3,0,0,16,0,3,...,5,1,4,2,0,3,13,0,1,5
05/13/2020,0,0,2,0,3,0,0,20,0,3,...,5,1,4,2,0,3,13,0,1,5